:root {
    --color-bg: #1F1F1F;
    --color-primary: #ffffff;
    --color-secondary: #000000;
    --color-highlight: #005CFF;
    --color-error: #FF0000;
    --color-success: #00FF00;
    --color-loading: #005CFF;


    /* fonts */
    --font-primary: "Nunito Sans", sans-serif;
    --font-secondary: "Nunito", sans-serif;

    /* fonts size */
    --font-xxs: 0.625rem;
    --font-xs: 0.75rem;
    --font-sm: 0.875rem;
    --font-base: 1rem;
    --font-md: 1.125rem;
    --font-lg: 1.25rem;
    --font-xl: 1.5rem;
    --font-2xl: 1.75rem;
    --font-3xl: 2rem;
    --font-4xl: 2.25rem;
    --font-5xl: 2.5rem;
    --font-6xl: 3rem;
    --font-7xl: 3.5rem;
    --font-8xl: 4rem;
    --font-9xl: 4.5rem;
    --font-10xl: 5rem;
    --font-11xl: 5.5rem;
    --font-12xl: 6rem;
    --font-13xl: 6.25rem;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
}